@import 'main/functions';
@import 'main/variables';
@import 'main/mixins';
@import 'main/utilities';
@import 'main/normalize';

@mixin placeholder {
    &::-webkit-input-placeholder {
        @content;
    }
    &:-moz-placeholder {
        @content;
    }
    &::-moz-placeholder {
        @content;
    }
    &:-ms-input-placeholder {
        @content;
    }
}

@mixin retina {
    @media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1300px),
        only screen and (min--moz-device-pixel-ratio: 2) and (min-width: 1300px),
        only screen and (-o-min-device-pixel-ratio: 2/1) and (min-width: 1300px),
        only screen and (min-device-pixel-ratio: 2) and (min-width: 1300px),
        only screen and (min-resolution: 192dpi) and (min-width: 1300px),
        only screen and (min-resolution: 2dppx) and (min-width: 1300px) {
        @content;
    }
}

a {
    outline: none !important;
}

ul {
    margin: 0;
}

* {
    font: {
        family: 'Open Sans', 'Open Sans Condensed', sans-serif;
        weight: normal;
        size: 100%;
    }
}

html {
    margin: 0 !important;

    overflow: {
        x: hidden;
        y: scroll;
    }

    width: 100%;
    max-width: 100%;
    line-height: 1;
}

body {
    margin: 0;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}

// Grid mixins

@import 'main/grid';
@import 'main/utilities/flex';

$base-color: #ce2038;
$hover-color: #2e2e2e;

.header {
    position: relative;
    min-height: 50vh;
    background: no-repeat center / cover;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.45);
    }

    >* {
        position: relative;
        z-index: 2;
    }


    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0 15px;
        border-bottom: 1px solid rgba(255,255,255,.7);

        > * {
            width: 33.333%;
        }
    }

    &__phones {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-wrap: wrap;

        >* {
            min-width: 35%;
            color: #fff;
            line-height: 1.5;
            display: block;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__logo {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__slogan {
        color: #fff;
    }

    &__menu {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px 0;

        >* {
            color: #fff;
            font-weight: bold;
            line-height: 1.5;
            display: block;
            margin: 0 10px;
            font-size: 17px;
            transition: all .3s;

            &:hover {
                transform: translate3d(0, -3px, 0);
            }
        }
    }

    &__content {
        padding: 60px 0 220px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center
    }

    &__bread {

    }

    &__title {
        font-weight: bold;
        font-size: 32px;
        color: #fff;
        display: block;
        margin-top: 25px;

        &--large {
            font-size: 45px;
        }
    }
}

.page {
    &__after-header {
        display: block;
        margin-top: -100px;
    }

    &__button {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background: $base-color;
        color: #fff;
        transition: all .3s;
        font-size: 17px;
        border-radius: 50px;
        padding: 18px 30px;
        cursor: pointer;
        margin: 30px auto;

        &:hover {
            background: $hover-color;
        }
    }

    &__center {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.block01 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    padding: 280px 15px 15px;
    background: no-repeat center / cover;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;

    &:before {
        background: $base-color;
        position: absolute;
        bottom: -14%;
        width: 120%;
        height: 50%;
        transform: rotate(-9deg) translate3d(0, 0, 0);
        content: '';
        border-top: 6px solid #fff;
        transition: all .3s;
    }

    &__title {
        position: relative;
        z-index: 2;
        font-size: 15px;
        line-height: 20px;
        text-transform: uppercase;
        font-weight: bold;
    }

    &__link {
        position: relative;
        z-index: 2;
        font-size: 14px;
        line-height: 20px;
        text-transform: uppercase;
        margin-top: 10px;
    }

    &:hover:before {
        background: $hover-color;
        transform: rotate(-9deg) translate3d(0, -5px, 0);
    }
}